@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;600;700&display=swap");

//FONTS
$roboto-font-mono: "Roboto Mono", monospace;

//COLORS
$darkPrimary: #393d3f;
$whitePrimaryFont: #fdfdff;
$lightGrayPrimary: #f8f8f8;
$backgroundCard: #e8dcb8;
// $darkPrimary: #332211;
$fontColor: #393d3f;
