@import "../styles/variables";

.books-reading {
  margin-top: 20vh;
  &__book {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    align-items: center;

    & > p:nth-of-type(2) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .add-notes {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      margin-left: auto;
      background-color: $lightBlue;

      cursor: pointer;
    }
  }
}

.Modal {
  position: absolute;
  top: 3vh;
  bottom: 3vh;
  left: 10vw;
  right: 10vw;
  border-radius: 4px;
  padding: 1rem;
  background-color: white;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
}
.close-modal {
  background-color: $darkPrimary;
  color: $whitePrimaryFont;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.add-notes-form {
  border: 1px solid black;
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 5vh auto;
  padding: 1rem;
  input[type="text"] {
    display: block;

    height: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    outline: none;
    font-family: $roboto-font-mono;
  }
  & > p {
    margin-bottom: 0.5rem;
  }
  .select-rate {
    margin-bottom: 1rem;
  }

  textarea {
    margin-bottom: 1rem;
    resize: none;
    border-radius: 4px;
    outline: none;
    height: 10vh;
    padding: 0.5rem;
  }

  button {
    padding: 0.5rem 1rem;
    background-color: $lightBlue;
    width: 15vw;
    margin: 0 auto;
    border-radius: 4px;

    font-weight: bold;
    cursor: pointer;
  }
}
