@import "../styles/variables";

.header {
  width: 100vw;
  height: auto;
  position: fixed;
  background-color: $darkPrimary;
  color: $whitePrimaryFont;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  &__logo-conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo {
    width: 80px;
    height: 80px;
  }

  &__link {
    text-decoration: none;
    color: $whitePrimaryFont;
    letter-spacing: 0.1vw;
  }
}
